<footer>
    <div class="flex flex-col sm:flex-row gap-x-32 lg:gap-x-48 gap-y-10 bg-umnp-medium text-white px-5 sm:px-20 lg:px-32 py-10 sm:py-20">
        <div>
            <p class="font-bold text-2xl">UMN PICTURES</p>
            <p class="text-sm leading-normal mt-2">
                Universitas Multimedia Nusantara<br/>
                Jl. Scientia Boulevard, Gading Serpong<br/>
                Tangeran 15811, Banten, Indonesia
            </p>
        </div>
        <nav>
            <ul class="flex flex-col gap-y-2">
                <li class="text-sm"><a href="/">Company</a></li>
                <li class="text-sm"><a href="/works">Works</a></li>
                <li class="text-sm"><a href="/career">Career</a></li>
                <li class="text-sm"><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
    <div class="bg-umnp-dark text-white py-6">
        <p class="text-center text-sm">© 2019 UMN Pictures. All Rights Reserved.</p>
    </div>
</footer>