<div class="h-3/6">
    <div class="h-5/6 bg-blue-300 flex items-center">
        <div class="ml-44">
            <p class="font-bold text-2xl">UMN Pictures</p>
            <p class="w-2/6 text-justify">
                Universitas Multimedia Nusantara
                Jl. Scientia Boulevard, Gading Serpong
                Tangerang 15811, Banten, Indonesia</p>
        </div>
        <div>
            <ul>
                <li class="p-1">
                    <a href="#">Home</a>
                </li class="p-1">
                <li class="p-1">
                    <a href="#">Works</a>
                </li class="p-1">
                <li class="p-1">
                    <a href="#">Company</a>
                </li class="p-1">
                <li class="p-1">
                    <a href="#">Career</a>
                </li class="p-1">
            </ul>
        </div>
    </div>
    <div class="h-1/6 bg-blue-900 items-center flex justify-center text-white">
        <p>© 2019 UMN Pictures. All Rights Reserved.</p>
    </div>
</div>
