<div class="md:flex md:items-center md:justify-around py-6">
    <div class="flex items-center justify-between px-3">
        <a href="#"><img src="https://umnpictures.com/static/img/UMNP-Logo-Horizontal.png" width="135" class="inline"></a>

        <span class="block text-4xl cursor-pointer md:hidden" onclick="Menu(this)">
            &equiv;
        </span>
    </div>
    <ul class="md:flex md:items-center text-2xl text-blue-600 font-semibold z-[-1] md:z-auto md:static-absolute w-full left-0 md:w-auto md:py-0 py-4 md:pl-0 pl-6 md:opacity-100 opacity-0 top-[-400px] transition-all ease-in duration-500">
        <li class="mx-12 my-6 md:my-0">
            <a href="#">Company</a>
        </li>
        <li class="mx-12 my-6 md:my-0">
            <a href="#">Works</a>
        </li>
        <li class="mx-12 my-6 md:my-0">
            <a href="#">Career</a>
        </li>
        <li class="mx-12 my-6 md:my-0">
            <a href="#">Contact</a>
        </li>
    </ul>
</div>
