<nav class="flex justify-between items-center px-5 sm:px-20 lg:px-28 py-8">
    <a href="/">
        <img src="https://umnpictures.com/static/img/UMNP-Logo-Horizontal.png" width="135" class="inline">
    </a>
    <span class="block lg:hidden text-4xl text-umnp-dark cursor-pointer" onclick="open_dropdown()">
        &equiv;
    </span>
    <div id="dropdown" class="hidden lg:block w-screen lg:w-fit h-screen lg:h-fit absolute lg:static bg-[rgba(0,0,0,0.25)] lg:bg-transparent -ml-5 sm:-mx-20 -mt-8 lg:m-0 top-8 lg:top-0 z-10">
        <ul class="w-full flex flex-col lg:flex-row gap-x-20 gap-y-10 bg-white lg:bg-transparent rounded-b-[32px] lg:rounded-none font-semibold text-xl text-umnp-dark py-12 lg:py-0">
            <li class="text-center"><a href="/">Company</a></li>
            <li class="text-center"><a href="/works">Works</a></li>
            <li class="text-center"><a href="/career">Career</a></li>
            <li class="text-center"><a href="/contact">Contact</a></li>
        </ul>
    </div>
</nav>
