{% extends 'layouts/layout.html' %}
{% load static %}

{% block content %}
    <div class="w-full h-screen">
        <div class="flex flex-row">
            <div class="w-1/2">
                <div class="w-fit mx-auto my-60">
                    <h1 class="text-4xl  md:text-7xl text-umnp-dark font-bold">Career</h1>
                    <p class="text-lg font-light text-gray-500">
                        Create A Better Future For Yourself.
                    </p>                    
                </div>
            </div>
            <div class="w-1/2 mt-40">
                    <img
                        class="w-1/2 mx-auto"                     
                        src={% static '/images/career_asset.png' %}
                        alt="image description"
                    />
                <!-- </div> -->
            </div>
        </div>
    </div>

    <div class="w-full h-96 bg-blue-200">
        <div class="flex flex-row mx-auto w-4/5 pt-8">
            <div class="w-1/2 h-full">
                <h1 class="text-center text-4xl text-black font-bold mt-10">
                    Career Opportunities
                </h1>
                <h2 class="mx-10 text-center text-gray-500 font-extralight mt-10">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                    condimentum porttitor arcu, nec sollicitudin purus ultricies
                    vulputate. Suspendisse potenti. Etiam suscipit faucibus nisi nec
                    condimentum. Integer ultricies viverra eleifend. Curabitur
                    convallis, felis id lobortis tempor, urna mauris maximus est, at
                    maximus nulla lectus non urna. Proin a massa eu metus rutrum
                    suscipit. Curabitur tincidunt dignissim rutrum.
                </h2>
            </div>
            <div class="w-1/2 h-full">
                <div class="w-fit mx-auto">
                    <h1 class="text-center text-4xl text-black font-bold mt-10">
                        Internship Program
                    </h1>
                    <h2 class="mx-10 text-center text-gray-500 font-extralight mt-10">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nullam condimentum porttitor arcu, nec sollicitudin purus
                        ultricies vulputate. Suspendisse potenti. Etiam suscipit
                        faucibus nisi nec condimentum. Integer ultricies viverra
                        eleifend. Curabitur convallis, felis id lobortis tempor,
                        urna mauris maximus est, at maximus nulla lectus non urna.
                        Proin a massa eu metus rutrum suscipit. Curabitur tincidunt
                        dignissim rutrum.
                    </h2>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
