{% extends 'layouts/layout.html' %}
{% load static %}

{% block content %}
    <div class="w-full h-screen">
        <div class="flex flex-row">
            <div class="w-1/2">
                <div class="w-fit mx-auto my-60">
                    <h1 class="text-7xl my-6 text-cyan-900 font-bold">Career</h1>
                    <p class="text-lg font-light text-cyan-900">
                        Lorem ipsum dolor sit amet, consectetur
                    </p>
                    <p class="text-lg font-light text-cyan-900">adipiscing elit.</p>
                </div>
            </div>
            <div class="w-1/2">
                <div class="w-fit mx-auto my-60">
                    <img
                        class="max-w-xl h-auto rounded-lg shadow-xl dark:shadow-gray-800"
                        src="/image/png/home_first_pic.png"
                        alt="image description"
                    />
                </div>
            </div>
        </div>
    </div>

    <div class="w-full h-96 bg-blue-200">
        <div class="flex flex-row mx-auto w-4/5 pt-8">
            <div class="w-1/2 h-full">
                <h1 class="text-center text-4xl text-cyan-900 font-bold mt-10">
                    Career Opportunities
                </h1>
                <h2 class="mx-10 text-center font-extralight mt-10">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                    condimentum porttitor arcu, nec sollicitudin purus ultricies
                    vulputate. Suspendisse potenti. Etiam suscipit faucibus nisi nec
                    condimentum. Integer ultricies viverra eleifend. Curabitur
                    convallis, felis id lobortis tempor, urna mauris maximus est, at
                    maximus nulla lectus non urna. Proin a massa eu metus rutrum
                    suscipit. Curabitur tincidunt dignissim rutrum.
                </h2>
            </div>
            <div class="w-1/2 h-full">
                <div class="w-fit mx-auto">
                    <h1 class="text-center text-4xl text-cyan-900 font-bold mt-10">
                        Internship Program
                    </h1>
                    <h2 class="mx-10 text-center font-extralight mt-10">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nullam condimentum porttitor arcu, nec sollicitudin purus
                        ultricies vulputate. Suspendisse potenti. Etiam suscipit
                        faucibus nisi nec condimentum. Integer ultricies viverra
                        eleifend. Curabitur convallis, felis id lobortis tempor,
                        urna mauris maximus est, at maximus nulla lectus non urna.
                        Proin a massa eu metus rutrum suscipit. Curabitur tincidunt
                        dignissim rutrum.
                    </h2>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
