{% extends 'layouts/layout.html' %}
{% load static %}

{% block content %}
    <div class="w-full h-screen">
        <div class="lg:h-80 flex flex-col lg:flex-row mx-10  ">
            <div class="w-fit mx-10 lg:w-1/2 items-center  ">
                <div class="lg:w-fit mx-10 mt-40  ">
                    <h1 class="text-7xl text-umnp-dark font-bold">About UMN</h1>
                    <h1 class="text-7xl text-umnp-dark font-bold">Pictures</h1>
                    <p class="text-lg font-light text-gray-500">
                        "We started projects with our passion,
                    </p>
                    <p class="text-lg font-light text-gray-500">
                        completed them with our compassion."
                    </p>
                </div>
            </div>
            <div class="mt-10 lg:mt-40 lg:w-1/2  ">
             <img src={% static '/images/home_first_pic.png' %} />
            </div>
        </div>
    </div>

    <div class="w-full max-h-screen lg:h-fit bg-blue-200">
        <div class="flex flex-col h-screen">
            <div class="mx-auto w-4/5 h-40">
                <h2 class="font-extralight text-gray-500 mt-10 mb-24">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                    condimentum porttitor arcu, nec sollicitudin purus ultricies
                    vulputate. Suspendisse potenti. Etiam suscipit faucibus nisi nec
                    condimentum. Integer ultricies viverra eleifend. Curabitur
                    convallis, felis id lobortis tempor, urna mauris maximus est, at
                    maximus nulla lectus non urna. Proin a massa eu metus rutrum
                    suscipit. Curabitur tincidunt dignissim rutrum.
                </h2>
            </div>
            <div class="mx-auto w-4/5 flex flex-row rounded-md bg-blue-100">
                <div class="flex flex-row">
                    <div class="hidden lg:block border-4 border-umnp-dark font-bold h-1/2 w-1/4 mx-20 mt-20 mb-20 rounded-md">
                    
                    </div>
                    <div class="mx-auto font-bold h-5/6 w-1/2 mt-10 rounded-md">
                        <h1 class="text-4xl text-umnp-dark font-bold">Visi</h1>
                        <h2 class="font-extralight text-gray-500 mt-10">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Nullam condimentum porttitor arcu, nec sollicitudin
                            purus ultricies vulputate. Suspendisse potenti. Etiam
                            suscipit faucibus nisi nec condimentum. Integer
                            ultricies viverra eleifend. Curabitur convallis, felis
                            id lobortis tempor, urna mauris maximus est, at maximus
                            nulla lectus non urna. Proin a massa eu metus rutrum
                            suscipit. Curabitur tincidunt dignissim rutrum.
                        </h2>

                        <h1 class="text-4xl text-umnp-dark font-bold mt-10">Misi</h1>
                        <h2 class="font-extralight text-gray-500 mt-4 mb-24">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Nullam condimentum porttitor arcu, nec sollicitudin
                            purus ultricies vulputate. Suspendisse potenti. Etiam
                            suscipit faucibus nisi nec condimentum. Integer
                            ultricies viverra eleifend.
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="w-full h-fit lg:h-96  ">
        <div class="flex flex-col lg:flex-row mt-24 mb-24 mx-auto  ">
            <div class="mx-auto w-1/2 h-full  ">
                <h1 class="text-center text-4xl text-black font-bold mt-10">
                    icon
                </h1>
                <h2 class="mx-10 text-center font-extralight mt-10">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                    condimentum porttitor arcu, nec sollicitudin purus ultricies
                    vulputate. Suspendisse potenti. Etiam suscipit faucibus nisi nec
                    condimentum. Integer ultricies viverra eleifend. Curabitur
                    convallis, felis id lobortis tempor, urna mauris maximus est, at
                    maximus nulla lectus non urna. Proin a massa eu metus rutrum
                    suscipit. Curabitur tincidunt dignissim rutrum.
                </h2>
            </div>
            <div class="mx-auto w-1/2 h-full">
                <div class="w-fit mx-auto">
                    <h1 class="text-center text-4xl text-black font-bold mt-10">
                        icon
                    </h1>
                    <h2 class="mx-10 text-center font-extralight mt-10">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nullam condimentum porttitor arcu, nec sollicitudin purus
                        ultricies vulputate. Suspendisse potenti. Etiam suscipit
                        faucibus nisi nec condimentum. Integer ultricies viverra
                        eleifend. Curabitur convallis, felis id lobortis tempor,
                        urna mauris maximus est, at maximus nulla lectus non urna.
                        Proin a massa eu metus rutrum suscipit. Curabitur tincidunt
                        dignissim rutrum.
                    </h2>
                    <div></div>
                </div>
            </div>
        </div>
    </div>

        <div class="w-full min-h-screen bg-blue-200">
            <div class=" border-blue-200 w-3/4 h-fit mx-auto">
                <div class="h-32 border-2 border-blue-200">
                <h1 class="text-6xl text-left text-umnp-dark font-bold mt-24">
                    Tim Kami
                </h1>
                </div>
                <div class="mx-auto flex flex-col mt-10 mb-24">
                    <div class="mx-auto flex flex-col lg:flex-row grid-rows-3 gap-x-36">
                        <div class="mx-auto w-1/2 lg:w-1/4 h-80">
                            <img
                            src={% static '/images/portofolio_asset1.png' %} class="rounded-lg"/>
                        </div>
                        
                       <div class="mx-auto w-1/2 lg:w-1/4 h-80">
                            <img
                            src={% static '/images/portofolio_asset1.png' %} class="rounded-lg"/>
                        </div>
                        <div class="mx-auto w-1/2 lg:w-1/4 h-80">
                            <img
                            src={% static '/images/portofolio_asset1.png' %} class="rounded-lg"/>
                        </div>
                    </div>
                    <div class="mx-auto flex flex-col lg:flex-row grid-rows-3 gap-x-36">
                       <div class="mx-auto w-1/2 lg:w-1/4 h-80">
                            <img
                            src={% static '/images/portofolio_asset1.png' %} class="rounded-lg"/>
                        </div>
                        <div class="mx-auto w-1/2 lg:w-1/4 h-80">
                            <img
                            src={% static '/images/portofolio_asset1.png' %} class="rounded-lg"/>
                        </div>
                        <div class="mx-auto w-1/2 md:w-1/4 h-80">
                            <img
                            src={% static '/images/portofolio_asset1.png' %} class="rounded-lg"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full min-h-screen bg-white">
            <div class=" border-white w-3/4 h-fit mx-auto">
                <h1 class="text-6xl text-center text-umnp-dark font-bold mt-24">
                    Partner kami
                </h1>
                <div class="mx-auto flex flex-col mt-10 mb-24">
                     <div class="mx-auto flex flex-col lg:flex-row grid-rows-3 gap-x-36">
                        <div class="mx-auto w-1/2 lg:w-1/4 h-80">
                            <img
                            src={% static '/images/portofolio_asset1.png' %} class="rounded-lg"/>
                        </div>
                        
                       <div class="mx-auto w-1/2 lg:w-1/4 h-80">
                            <img
                            src={% static '/images/portofolio_asset1.png' %} class="rounded-lg"/>
                        </div>
                        <div class="mx-auto w-1/2 lg:w-1/4 h-80">
                            <img
                            src={% static '/images/portofolio_asset1.png' %} class="rounded-lg"/>
                        </div>
                    </div>
                    <div class="mx-auto flex flex-col lg:flex-row grid-rows-3 gap-x-36">
                        <div class="mx-auto w-1/2 lg:w-1/4 h-80">
                            <img
                            src={% static '/images/portofolio_asset1.png' %} class="rounded-lg"/>
                        </div>
                        
                       <div class="mx-auto w-1/2 lg:w-1/4 h-80">
                            <img
                            src={% static '/images/portofolio_asset1.png' %} class="rounded-lg"/>
                        </div>
                        <div class="mx-auto w-1/2 lg:w-1/4 h-80">
                            <img
                            src={% static '/images/portofolio_asset1.png' %} class="rounded-lg"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
