{% extends 'layouts/layout.html' %}
{% load static %}

{% block content %}
    <div class="w-full h-screen">
        <div class="h-80 flex flex-row">
            <div class="w-1/2">
                <div class="w-fit mx-auto mt-40">
                    <h1 class="text-7xl text-cyan-900 font-bold">About UMN</h1>
                    <h1 class="text-7xl text-cyan-900 font-bold">Pictures</h1>
                    <p class="text-lg font-light text-cyan-900">
                        "We started projects with our passion,
                    </p>
                    <p class="text-lg font-light text-cyan-900">
                        completed them with our compassion."
                    </p>
                </div>
            </div>
            <div class="w-1/2">
                <img
                    class="max-w-xl h-auto rounded-lg shadow-xl dark:shadow-gray-800"
                    src="/image/png/home_first_pic.png"
                    alt="image description"
                />
            </div>
        </div>
    </div>

    <div class="w-full min-h-screen bg-blue-200">
        <div class="flex flex-col h-screen">
            <div class="mx-auto w-4/5 h-40">
                <h2 class="font-extralight mt-10 mb-24">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                    condimentum porttitor arcu, nec sollicitudin purus ultricies
                    vulputate. Suspendisse potenti. Etiam suscipit faucibus nisi nec
                    condimentum. Integer ultricies viverra eleifend. Curabitur
                    convallis, felis id lobortis tempor, urna mauris maximus est, at
                    maximus nulla lectus non urna. Proin a massa eu metus rutrum
                    suscipit. Curabitur tincidunt dignissim rutrum.
                </h2>
            </div>
            <div
                class="mx-auto w-4/5 h-full flex flex-row rounded-md bg-blue-100 mb-32"
            >
                <div class="mb-10 flex flex-row">
                    <div
                        class="border-4 border-cyan-900 font-bold h-5/6 w-1/4 mx-20 mt-20 mb-20 rounded-md"
                    >
                        Image/graphics
                    </div>
                    <div class="font-bold h-5/6 w-1/2 mt-20 rounded-md">
                        <h1 class="text-4xl text-cyan-900 font-bold">Visi</h1>
                        <h2 class="font-extralight mt-10">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Nullam condimentum porttitor arcu, nec sollicitudin
                            purus ultricies vulputate. Suspendisse potenti. Etiam
                            suscipit faucibus nisi nec condimentum. Integer
                            ultricies viverra eleifend. Curabitur convallis, felis
                            id lobortis tempor, urna mauris maximus est, at maximus
                            nulla lectus non urna. Proin a massa eu metus rutrum
                            suscipit. Curabitur tincidunt dignissim rutrum.
                        </h2>

                        <h1 class="text-4xl text-cyan-900 font-bold mt-10">Misi</h1>
                        <h2 class="font-extralight mt-10">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Nullam condimentum porttitor arcu, nec sollicitudin
                            purus ultricies vulputate. Suspendisse potenti. Etiam
                            suscipit faucibus nisi nec condimentum. Integer
                            ultricies viverra eleifend. Curabitur convallis, felis
                            id lobortis tempor, urna mauris maximus est, at maximus
                            nulla lectus non urna. Proin a massa eu metus rutrum
                            suscipit. Curabitur tincidunt dignissim rutrum.
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="w-full h-96">
        <div class="flex flex-row mb-24">
            <div class="w-1/2 h-full">
                <h1 class="text-center text-4xl text-cyan-900 font-bold mt-10">
                    icon
                </h1>
                <h2 class="mx-10 text-center font-extralight mt-10">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                    condimentum porttitor arcu, nec sollicitudin purus ultricies
                    vulputate. Suspendisse potenti. Etiam suscipit faucibus nisi nec
                    condimentum. Integer ultricies viverra eleifend. Curabitur
                    convallis, felis id lobortis tempor, urna mauris maximus est, at
                    maximus nulla lectus non urna. Proin a massa eu metus rutrum
                    suscipit. Curabitur tincidunt dignissim rutrum.
                </h2>
            </div>
            <div class="w-1/2 h-full">
                <div class="w-fit mx-auto">
                    <h1 class="text-center text-4xl text-cyan-900 font-bold mt-10">
                        icon
                    </h1>
                    <h2 class="mx-10 text-center font-extralight mt-10">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nullam condimentum porttitor arcu, nec sollicitudin purus
                        ultricies vulputate. Suspendisse potenti. Etiam suscipit
                        faucibus nisi nec condimentum. Integer ultricies viverra
                        eleifend. Curabitur convallis, felis id lobortis tempor,
                        urna mauris maximus est, at maximus nulla lectus non urna.
                        Proin a massa eu metus rutrum suscipit. Curabitur tincidunt
                        dignissim rutrum.
                    </h2>
                    <div></div>
                </div>
            </div>
        </div>

        <div class="w-full min-h-screen bg-blue-200">
            <div class="border-2 border-blue-200 w-3/4 h-fit mx-auto">
                <h1 class="text-6xl text-left text-cyan-900 font-bold mt-24">
                    Tim Kami
                </h1>
                <div class="flex flex-col mt-10 mb-24">
                    <div class="flex flex-row grid-rows-3 gap-x-36">
                        <img
                            class="w-1/4 h-80 rounded-lg"
                            src="http://127.0.0.1:8000/static/image/image.png"
                        />
                        <img
                            class="w-1/4 h-80 rounded-lg"
                            src="http://127.0.0.1:8000/static/image/image.png"
                        />
                        <img
                            class="w-1/4 h-80 rounded-lg"
                            src="http://127.0.0.1:8000/static/image/image.png"
                        />
                    </div>
                    <div class="flex flex-row grid-rows-3 gap-x-36 mt-10">
                        <img
                            class="w-1/4 h-80 rounded-lg"
                            src="http://127.0.0.1:8000/static/image/image.png"
                        />
                        <img
                            class="w-1/4 h-80 rounded-lg"
                            src="http://127.0.0.1:8000/static/image/image.png"
                        />
                        <img
                            class="w-1/4 h-80 rounded-lg"
                            src="http://127.0.0.1:8000/static/image/image.png"
                        />
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full min-h-screen bg-white">
            <div class="border-2 border-white w-3/4 h-fit mx-auto">
                <h1 class="text-6xl text-center text-cyan-900 font-bold mt-24">
                    Partner kami
                </h1>
                <div class="flex flex-col mt-10 mb-24">
                    <div class="flex flex-row grid-rows-3 gap-x-36">
                        <img
                            class="w-1/4 h-80 rounded-lg"
                            src="http://127.0.0.1:8000/static/image/image.png"
                        />
                        <img
                            class="w-1/4 h-80 rounded-lg"
                            src="http://127.0.0.1:8000/static/image/image.png"
                        />
                        <img
                            class="w-1/4 h-80 rounded-lg"
                            src="http://127.0.0.1:8000/static/image/image.png"
                        />
                    </div>
                    <div class="flex flex-row gap-x-36 mt-10">
                        <img
                            class="w-1/4 h-80 rounded-lg"
                            src="http://127.0.0.1:8000/static/image/image.png"
                        />
                        <img
                            class="w-1/4 h-80 rounded-lg"
                            src="http://127.0.0.1:8000/static/image/image.png"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
