{% extends 'layouts/layout.html' %}
{% load static %}

{% block content %}
<div class="w-full h-screen">
    <div class="h-80 flex flex-col lg:flex-row justify-center items-center">
        <div class="w-1/2">
            <div class="w-fit mx-auto mt-40">
        <h1 class=" text-4xl  md:text-7xl text-umnp-dark font-bold text-center">Portofolio</h1>
                <p class="text-lg font-light text-gray-500 text-center">
                    Our works so far!
                </p>
            </div>
        </div>
        <div class="w-1/2 mt-40 lg:mt-80">
            <img src={% static '/images/portofolio_asset1.png' %} alt="image description" />
            <!-- </div> -->
        </div>
    </div>
</div>

<div class="w-full min-h-screen bg-blue-200 flex">
    <div class="border-2 border-blue-200  w-3/4 h-fit mx-auto">
        <h1 class="text-4xl xl:text-7xl text-left text-umnp-dark font-bold mt-24">
            Portofolio Kami
        </h1>
        <div class="flex flex-col gap-y-2 mt-10 mb-10">
            <div class="flex lg:gap-x-2 w-full flex-col lg:flex-row lg:pl-[128px] lg:pr-[136px] px-4 gap-y-2">
                {% for webPage in webPages1%}
                <img class="lg:w-1/2 lg:h-96 rounded-lg" src="{{webPage.image.url}}">
                {% endfor %}

            </div>
            
            <div class="flex lg:gap-x-2 w-full flex-col lg:flex-row lg:pl-[128px] lg:pr-[136px] px-4 gap-y-2">
                {% for webPage in webPages2%}
                <img class="lg:w-1/2 lg:h-96 rounded-lg" src="{{webPage.image.url}}">
                {% endfor %}
            </div>
            <div class="flex lg:gap-x-2 w-full flex-col lg:flex-row lg:pl-[128px] lg:pr-[136px] px-4 gap-y-2">
                {% for webPage in webPages3%}
                <img class="lg:w-1/2 lg:h-96 rounded-lg" src="{{webPage.image.url}}">
                {% endfor %}
            </div>
            <div class="mt-20"></div>
        </div>
    </div>
</div>
    </div>

{% endblock %}
